<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>玉山銀行徵信報告</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap-table.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/content-table.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/hight_light.css" type="text/css" />
</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-hamburger-delicious">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">智慧檢索</a>
            </div>

            <div class="collapse navbar-collapse navbar-hamburger-delicious">
                <ul class="nav navbar-nav side-nav fadeInLeft">
                    <li class="toggle-nav visible-lg visible-md visible-sm">
                        <a><i class="fa fa-lg fa-arrow-left"></i>Hide Menu</a>
                    </li>
                    <li class="dashboard">
                        <a href="#"><i class="fa fa-lg fa-dashboard"></i>段落搜尋-1</a>
                    </li>
                    <li class="active docs">
                        <a href="#"><i class="fa fa-lg fa-folder-open"></i>段落搜尋-2</a>
                    </li>
                    <li class="admin">
                        <a href="#"><i class="fa fa-lg fa-user"></i>全文搜尋</a>
                    </li>
                    <li class="divider">
                        <hr />
                    </li>
                    <image class="img-responsive bottom-image-cat" src="/static/images/cat.jpg" width="400" height="400"/>
                    <image class="img-responsive bottom-image" src="/static/images/esun-logo2.png" width="400" height="300"/>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="js-user-name" id='user_name'>{{user.username}}</span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="settings">
                                <a href="/profile"><i class="fa fa-lg fa-gear"></i> 個人檔案</a>
                            </li>
                            <li class="settings">
                                <a href="/login"><i class="fa fa-lg fa-gear"></i> 登出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class='header' id='myHeader'>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h2 class="change-color">段落搜尋-2</h2>
                            <form class="col form-inline md-form mr-auto mb-10 header_form" action="{{ url_for('content_table') }}" method="post">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                                    id="MyInput" name='typein' size='60/'>
                                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">
                                    Search
                                </button>
                            
                    
                                <div class='subfilter'>
                                        <p class='change-color' style="margin: 1px 0;">案件編號</p>
                                        <input class="form-control mr-sm-2" type="text" placeholder="輸入id" aria-label="Search" id="Case_id"
                                    name="caseid" size='10' />
                                </div>
                            
                            
                                <div class='subfilter'>
                                        <p class='change-color' style="margin: 1px 0;">中心</p>
                                        <select class="form-control" id = "branch_id" name="branch">
                                            <option value="">-</option>
                                            <option value="台北中大">台北中大</option>
                                            <option value="台北企金">台北企金</option>
                                            <option value="台北環金">台北環金</option>
                                            <option value="新竹企金">新竹企金</option>
                                            <option value="新竹中大">新竹中大</option>
                                        </select>
                                </div>
                            
                            
                                <div class='subfilter'>
                                    <p class='change-color' style="margin: 1px 0;">產業別</p>
                                    <select class="form-control" id="category_num_id" name="category_num">
                                        <option value="">-</option>
                                        <option value="電子代工組裝">電子代工組裝</option>
                                        <option value="餐飲業">餐飲業</option>
                                        <option value="旅遊業">旅遊業</option>
                                        <option value="銀行">銀行</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    <hr />
                    </div>
                </div>
                <div class="row">
                    <hr />
                    <div class="col-lg-12 col-md-12 col-xs-12 js-content">
                        <div class="docs-table report_content">
                            <h2>徵信報告</h2>
                            <table data-toggle="table" data-show-toggle="true" data-show-columns="true"
                                data-striped="true">
                                <thead>
                                <thead>
                                <tbody id='report_table'>
                                    <div class="change-color">
                                        <div class="report_posts">
                                            {%for item in report_posts %}
                                            <tr >
                                                <th data-field="date" width='5%'>日期</th>
                                                <td>{{item.doc_date}}</td>
                                                <th data-field="num">案件編號</th>
                                                <td>{{item.company_id}}</td>
                                                <th data-field="category">產業別</th>
                                                <td>{{item.business_category}}</td>
                                                <th data-field="name">公司名稱</th>
                                                <td>{{item.com_name|safe}}</td>
                                                <th data-field="center">中心</th>
                                                <td >{{item.bu_name}}</td>
                                                <th data-field="file">檔案</th>
                                                <td><a target="_blank" href= {{ item.filelink }} data-postid= {{ item.company_id }} data-userid= {{ user.username }} >click to download</a></td>
                                            </tr>
                                            <tr>
                                                <!--th-- style="color: #2a6496;" data-field="abstract">
                                                    報告摘要
                                                </!--th-->
                                                <td colspan="12" style="margin-left:100px;"> 
                                                    {% for hits in item['high_light'] %}
                                                        {{ hits[:50] | safe }}
                                                    {% endfor %}
                                                    <!--button-- onclick='readtd()'class="btn btn-outline-warning btn-rounded btn-sm my-0">... Read more</!--button-->
                                                    <span class='Readmore'>
                                                    {% for hits in item['high_light'] %}
                                                        {{hits[50:] | safe}}
                                                    {% endfor %}
                                                    </span>
                                                </td>
                                
                                            </tr>
                                                
                                            {% endfor %}
                                        </div>
                                    </div>
                                </tbody>
                            </table>
                            <h2>週記</h2>
                            <div class='bootstrap-table'>
                                <div class='fixed-table-container'>
                                    <div class="fixed-table-header">
                                    <div class="fixed-table-body">
                                        <table data-toggle="table" data-show-toggle="true" data-show-columns="true"
                                            data-striped="true" class='table table-hover table-striped'>
                                            <thead>
                                                <thead>
                                            <tbody id='horizontal_td' >
                                                    <div class="diary_posts">
                                                        {%for item in diary_posts %}
                                                        <tr>
                                                            <th data-field="Type">日期</th>
                                                            <td>{{item.date}}</td>
                                                            <th data-field="Name">分類</th>
                                                            <td>{{item.category}}</td>
                                                            <th data-field="Description">中心</th>
                                                            <td>{{item.center}}</td>
                                                            <th data-field="Tags">未來景氣</th>
                                                            <td>{{item.future}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th data-field="LastViewed" style="color: #2a6496;">景氣變化</th>
                                                            <td colspan="12" style="margin-left:100px;">{{item.content}}</td>
                                                        </tr>
                                                            
                                                        {% endfor %}
                                                    </div>
                                            </tbody>
                                        </table>
                                        <div class="fixed-table-pagination"></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/content-table-mit.js"></script>
    <script src="static/js/bootstrap-table.js"></script>
    <script src="static/js/content-table.js"></script>
    <script src="static/js/suggestion.js"></script>
</body>


</html>