.collapsible{
    color: #000;
}
.content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
em{
    font-style:normal;
    font-size:14px;
    font-weight:bold;
    background-color:#ffff33;

}

